html,
body {
  height: auto;
  margin: 0;
  padding: 0;
  /* background: linear-gradient(to bottom, #3B7B84, #553636); */
  /* background-color: #0e7482; */
}
.service{
  background: linear-gradient(to top,#0e7482,#6be2f5, #000000);
}
.services-heading h1 {
    
    color: aliceblue;
    margin-right: 100px;
    font-size: 100px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    

  }

  .services-first-content {
    /* background-color: #0e7482; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
  }
  
  .services-first-content p {
    max-width: 500px;
    color: aliceblue;
    margin-bottom: 50px;
  }


  .border{
    background: linear-gradient(to bottom,#0e7482, #29909d);
    width: 100%;
    /* box-shadow: 0px  30px 5px #0087D9; */
    height: 40px;
    margin: 0;
    padding: 0;
  }

  
.service-offer_container {
    background: linear-gradient(to top, #0C527D, #0087D9);
    margin: 0;
    padding: 0;
    /* display: flex; */
  }
  
  .service-what-we-offer {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin-bottom: 20px;
    /* margin-top: 20px; */
  }
 

  .service-three-card {
    gap: 80px;
    display: flex;
  
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .service-more-cards {
    background: linear-gradient(to top, #3B7B84, #000000);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .service-more-cards h2{
    color: rgb(159, 159, 21);
  }
  

    
.ex-service-offer_container {
  background: linear-gradient(to top, #386a8a, #506d79);
  margin: 0;
  padding: 0;
  /* display: flex; */
}



.ex-service-three-card {
  gap: 80px;
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ex-service-more-cards {
  background: linear-gradient(to top, #787a7a,#494848);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

